$success-message-color: $green-color;
$error-message-color: $red-color;
$title-font-color: $light-blue-color;
$background-color: $dark-blue-color;
$grid-color-one: $teal-color;
$grid-color-two: $grey-color;
$border-color: $black-color;
$text-font-color: $white-color;
