body {
  background-color: $background-color;
  font-family: helvetica sans-serif;
  margin: 0;
}

h1 {
  color: $font-color;
  font-size: 100px;
  text-align: center;
}

div {
  padding: 50px;
  text-align: center;
}

.success-message {
  color: $success-message-color;
  text-align: center;
}

.error-message {
  color: $error-message-color;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.box {
  align-items: center;
  border: 1px solid $border-color;
  color: $background-color;
  display: flex;
  font-size: 50px;
  height: 80px;
  justify-content: center;
  padding: 100px;
}

.teal {
  background-color: $font-color;
}

.form {
  width: 100%;
}

#sign-up-form {
  color: $font-color;
  text-align: center;
}

#sign-in-form {
  color: $font-color;
  text-align: center;
}

#change-password-form {
  color: $font-color;
  text-align: center;
}

#sign-out-button {
  margin: 0;
  position: relative;
}
